html, body{
	min-height: 100%;
	font-size: 16px;
}
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
/* Block "MAIN.php"  + block "MENU.php"      main color #ff1818 */ 
/* ------------------------------------------------------------------------- */
a:focus-within{
	color: white;
	text-decoration: none;
}
.menu-block{
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.9);
	width: 20vw;
	height: 100vh;;
   /* min-width: 330px;*/
}
.marginCenter{
	margin: 0px 40vw;
	
}
.marginLeft{
	margin:  0px 0vw;	
}

header{
	text-align: center;
	height: 80vh;
}
header>img{
	width: 100%;
}
header h1{
	color: red;
    font-size: 40px;
    margin-top: 0px;
}
header h2{
	color: white;
    font-size: 16px;
    margin: 10px;
    letter-spacing: 5px;
}
.logo{
	width: 28%;
    margin: 7%;
    padding: 1%;
    background: white;
    border-radius: 50%;
    
}
nav{
	height: 28vh;
}
nav ul{
	padding: 0px;
}
nav li{
	list-style-type: none;
    padding: 2px 0px;
    background-color: transparent;
    width: 65%;
    margin: 0 auto;
}
nav li>a{
		display: block;
	    color: white;
	    font-size: 18px;
	    width: 100%;
	    padding: 10px 0;
}
.active, nav li>a:hover{
	background-color: red;
}
nav li>a:hover{
	text-decoration: none;
	color: white;

}

.ckandelabr{
	width: 60%;
    margin: 30px 0;
}
.ckandelabr-down {
	transform: rotate(180deg);
}
footer{
	text-align: center;
	margin: 0 20px;
	color: white;
	padding-bottom: 30px;
	height: 20vh;
}
.phone{
	display: flex;
	justify-content: space-around;
	font-size: 17px;
}
.main-div{
	width: 100%;
	background-color: black;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
}
.social{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	padding: 0 50px;
	font-size: 30px;
	color: red;
}

.social a{
	color: red;
	text-decoration: none;
	width: 60px;
    height: 60px;
    padding-top: 4px;
    border: 5px solid white;
    border-radius: 50%;
}
.social a:hover{
	
	background: white;
}

@keyframes frameL {
    from {
    	margin: 0px 40vw;
    }
    
   to {
   	margin: 0px 0vw;
   }
}

@keyframes frameC {
    from {
    	margin: 0px 0vw;	
    }
   to {
   	margin: 0px 40vw;
   	
   }
}

.moveLeft{
	-webkit-animation:frameL 3s;
	-o-animation:frameL 3s;
	animation:frameL 3s;
}
.moveCenter{
	-webkit-animation:frameC 3s;
		-o-animation:frameC 3s;
		animation:frameC 3s;	
}
									



/* ------------------------------------------------------------------------- */

/* Block "CONTACT.php"*/
/* ------------------------------------------------------------------------- */

.main-contact{
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	 
}
.wrap-flex{
    width: 100%;
    padding-left: 20vw;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.non-flex{
	display: none;
}
.contact {
    width: 75%;
    padding: 5%;
    padding-top: 0%;
    background: #69696924;
}

.contact>p{
	display: inline-block;
    margin-top: 5%;
    font-size: 3.5em;
    color: white;
    text-shadow: 5px 6px 15px black;
}
.contact> span{
	font-size: 1.4em;
	color: white;
	font-weight: bold;
	padding-left: 10%;

	

}
.andre-img{
    width: 40%;
    height: 100vh;
    text-align: center;
    background: #69696924;
    overflow: hidden;
    padding-top: 10%;
    position: relative;
}


.andre{
	    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0.98;
}
.contact-map{
	margin-top: 10%;
}

.contact-map>iframe{
	opacity: 0.4;
}
.contact-map>iframe:hover{
	opacity: 0.8;
}

/* ------------------------------------------------------------------------- */

/* Block "MATERIAL.php"*/
/* ------------------------------------------------------------------------- */


.main-material{
	width: 100%;
	height: 3000px;
	padding-top: 2%;
	/*background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;*/
}
.wrap{
	width: 100%;
    padding-left: 20vw;
    display: flex;
    justify-content: center;
}
.material-item{
	justify-content: center;
    display: flex;
    margin-bottom: 5%;
}
.item-image{
	width: 50%;
	height: auto;
	min-height: 500px;
	    margin-right: -12%;
	background-color: white;
	border: 1px solid black;
	background-size: 100%;
	display: flex;
	align-items: flex-end;
	
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  
}
.image-text{
	width: 85%;
    padding: 2% 5%;
    color: white;
    font-size: 15px;
    background-color: #000000cc;
}
.item-text{
	width: 50%;
	height: auto;
	background-color: white;
	border: 1px solid black;
	display: flex;
	justify-content: flex-end;
	-webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.image-text>p{
	padding-right: 5%;
}
.text-wrap{
	width: 75%;
	padding: 2% 4%;
	position: relative;
}
.text-wrap>h1{
	text-align: center;
}
.text-wrap>p{
	text-align: justify; 
}
.itemText-img{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 3%;
    right: 2%;
}
.img{
	overflow: hidden;
    width: 22%;
    height: 81px;
}
.img>img{
	cursor:pointer;
	width: 100%;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.img>img:hover{
	 -webkit-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -o-transform: scale(1.2);
}


/* ------------------------------------------------------------------------- */

/* Block "GALLERY.php"*/
/* ------------------------------------------------------------------------- */

.galley-wrap{
	width: 100vw;
    padding-left: 20vw;
}
/* ------------------------------------------------------------------------- */


/* Block "ADMIN.php"*/
/* ------------------------------------------------------------------------- */

.admin{
	background-color: #4555ff;
    width: 15vw;
    height: 100vh;
    position: fixed;
    top: 0;
}
.admin li{
	
}

.nav-admin ul{
	padding: 0px;
}
.nav-admin li{
	list-style-type: none;
    width: 100%;
}
.nav-admin li>a{
	display: block;
    color: white;
    font-size: 1em;
    width: 100%;
    padding: 10px;
}
.active-admin, .nav-admin li>a:hover{
	background-color: #17177b;
}
.nav-admin li>a:hover{
	text-decoration: none;
	color: white;
	font-size: 1em;

}
.panel-admin{
	text-align: center;
    padding: 5% 0;
    font-size: 1.3em;
    color: black;
    background-color: #d2d2d2;
}
.wrap-admin{
	    width: 60vw;
    padding-left: 20vw;
}
/* ------------------------------------------------------------------------- */
/*---------MEDIA-----------*/
@media screen and (max-height: 900px) {
	.logo{
		width: 25%;
	}
	.ckandelabr {
    	width: 55%;
    	margin: 20px 0;
	}
@media screen and (max-height: 835px) {
	.menu-block {
	    width: 20vw;
	    min-width: 335px;
	}
	header h1 {
	    font-size: 35px;
	}

	header h2{
		font-size: 15px;
	    letter-spacing: 6px;
	}
	.ckandelabr {
    	width: 50%;
	}
	nav li>a{
		font-size: 16px;
		letter-spacing: 1px;
	}
	.phone{
		font-size: 15px;
	}
	.social a{
		width: 50px;
    	height: 50px;
    	padding-top: 0px;
    	border: 4px solid white;
	}
	nav li>a:hover, .active>a{
		font-size: 16px;
	}
	
}
@media screen and (max-height: 750px) {
	.logo{
		margin:5%;
	}
	.ckandelabr {
    width: 40%;
    margin: 17px 0;
	}
	header h1 {
	    font-size: 30px;
	}

	header h2{
		font-size: 14px;
	    letter-spacing: 6px;
	}
	nav li>a{
		font-size: 14px;
		letter-spacing: 1px;
	}
	nav li>a:hover, .active>a{
		font-size: 14px;
	}
	.social a{
		width: 40px;
    	height: 40px;
		font-size: 22px;
	}
}