html, body{
	min-height: 100%;
}
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
/* Block "MAIN.php"  + block "MENU.php" */
/* ------------------------------------------------------------------------- */
a:focus-within{
	color: white;
	text-decoration: none;
}
.menu-block{
	position: fixed;
	top: 0;
	background: rgb(0, 0, 0);
	width: 20vw;
    min-width: 370px;
    
    /*transition: all 1s ease-out;*/
    
}
.marginCenter{
	margin: 0px 40vw;
	background: rgba(0, 0, 0, 0.90);
}
.marginLeft{
	margin:  0px 0vw;
	background: rgb(0, 0, 0);
	
}

header{
	text-align: center;
}
header>img{
	width: 100%;
}
header h1{
	color: red;
    font-size: 40px;
}
header h2{
	color: white;
    font-size: 17px;
    margin: -4px;
    letter-spacing: 5px;
}
.logo{
	width: 30%;
    margin: 10%;
    padding: 1%;
    background: white;
    border: 1px solid white;
    border-radius: 50%;
    
}
nav ul{
	padding: 0 20px;
}
nav li{
	list-style-type: none;
    padding: 10px;
    background-color: transparent;
    font-size: 17px;
}
nav li>a{
	    padding: 15px 50px;
	    color: white;
	    font-size: 20px;
	    
}
nav li>a:hover, .active>a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	

}
nav li:hover, .active{
	background-color: red;
	padding: 10px;
}
.ckandelabr{
	width: 60%;
    margin: 40px 0;
}
.ckandelabr-down {
	transform: rotate(180deg);
}
footer{
	text-align: center;
	margin: 0 20px;
	color: white;
	padding-bottom: 30px;
}
.phone{
	display: flex;
	justify-content: space-around;
	font-size: 17px;
}
.main-div{
	width: 100%;
	background-color: black;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
}
.social{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	padding: 0 50px;
	font-size: 30px;
	color: red;
}

.social a{
	color: red;
	text-decoration: none;
	width: 60px;
    height: 60px;
    padding-top: 4px;
    border: 5px solid white;
    border-radius: 50%;
}
.social a:hover{
	border: 5px solid red;
	color: black;
	background: white;
}

@keyframes frameL {
    from {
    	margin: 0px 40vw;

    }
    30%{
    	background: rgba(0, 0, 0, 0.93);
    }
    40%{
    	background: rgba(0, 0, 0, 0.95);
    }
    80%{
    	background: rgba(0, 0, 0, 0.99);
    }
   to {
   	margin: 0px 0vw;
   }
}

@keyframes frameC {
    from {
    	margin: 0px 0vw;	
    }
    30%{
    	background: rgba(0, 0, 0, 0.99);
    }
    40%{
    	background: rgba(0, 0, 0, 0.95);
    }
    80%{
    	background: rgba(0, 0, 0, 0.93);
    }
   to {
   	margin: 0px 40vw;
   	
   }
}

.moveLeft{
	-webkit-animation:frameL 3s;
	-o-animation:frameL 3s;
	animation:frameL 3s;
}
.moveCenter{
	-webkit-animation:frameC 3s;
		-o-animation:frameC 3s;
		animation:frameC 3s;	
}


/* ------------------------------------------------------------------------- */

/* Block "CONTACT.php"*/
/* ------------------------------------------------------------------------- */

.wrap-img{
	width: 130%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: -20vw;
}
.wrap-fon{
	width: 130%;
    margin-left: -20vw;
    background-color: #ffffffc2;
    position: absolute;
    top: 0;
}
.none-fon{
	display: none;
}
.main-contact{
	width: 79vw;
	height: 900px;
	margin-left: 20vw;
	 
}
.wrap-flex{
	width: 100%;
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 35px 0px;

}
.contact{
	
    padding: 3%;
     /*-webkit-filter: blur(5px);
     -moz-filter: blur(5px);
       -o-filter: blur(5px);
      -ms-filter: blur(5px);
          filter: blur(5px);*/

       /*   background: rgba(0,0,0,.6);
    backdrop-filter: grayscale(1) contrast(3) blur(1px);*/
}
.contact>hr{
	color: red;
}
.contact>h1{
	font-size: 50px;

}
.contact>p{
	font-size: 30px;
	color: black;
	font-weight: bold;
	margin-bottom: 15px;
}
.contact>p span{
	font-size: 30px;
	color: red;
	font-weight: bold;
	padding-left: 50px;
	

}
.andre-img{
	width: 60%;
	max-width: 485px;
    max-height: 485px;
    text-align: center;
    border: 12px solid #000000b3;
    border-radius: 70%;
    background: #ffffffcf;
    overflow: hidden;
}
/*.top{
	<img src="<?= #URL.'/images/'.$data[0]['imageFace'] ?>" alt="" class="andre">
	    width: 50%;
    height: 672px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
	justify-content: space-around;
	
}*/
.andre{
	width: 57%;
}
.map{
	width: 100%;
	padding: 20px;
}
.map>iframe{
	width: 100%;
}
/*.top-img{
	width: 20%;
	height: 10%;
	-webkit-shape-outside: polygon(0% 4%, 96% 19%, 100% 100%, 29% 100%);
  shape-outside: polygon(0% 4%, 96% 19%, 100% 100%, 29% 100%);
}*/


/*-webkit-clip-path: polygon(0 0, 100% 14%, 100% 100%, 30% 100%);
  -webkit-shape-margin: 20px;
*/

/* ------------------------------------------------------------------------- */